a:link { /*link verilenler nasıl olacak*/
    text-decoration: none; /*altcizgili olmasın*/
    font-size: 20px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: bold;
}
a:hover{  /*üzerine gelindiğinde nasıl olacak*/
    color:black;
}
